body {
  padding-top: 0rem;
  background-color: #fbfbf5;
}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.lower-left-screen {
  position:absolute;
  bottom: 0;
  left: 2em;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.featurette {
  text-align: justify;
}

.btn-secondary {
  background-image: linear-gradient(#cbe9ff,#0193fd);
  border-color: #cbe9ff;
  color: #fbfbf5;
}

.courier-code {
 font-family: Courier;
}

.examples-carousel {
  margin:0 auto;
  max-width: 1000px;
  max-height: 500px;
  width: 85%;
  height: auto;
}

div.examples-carousel-item {
  padding: 0px;
  width: 300px;
  height: 300px;
  margin: auto;
}

.examples-carousel-item > img {
  width: auto;		
  max-width: 90%;
  height: auto;
  margin: auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.slick-prev:before, .slick-next:before {
  color: gray;
}

.progress {
  width: 35%;
  height: 5px;
  margin: 0 auto;
  border-radius: 50px;
  overflow: hidden;
  
  background-color: #f5f5f5;
  background-image: linear-gradient(to right, black, black);
  background-repeat: no-repeat;
  background-size: 0 100%;
  
  transition: background-size .4s ease-in-out;
}
